<%- include("./partials/header") %>

<div class="user-btn">
    
    <a href="/admin/date"><button>Add and See dates</button></a>
    <a href="/admin/hours"><button>Add and See hour</button></a>
    <a href="/admin/table"><button>Add and See Tables</button></a>
</div>

<div class="table-admin">
    <div class="new-table-form">
        <h4 class="admin-heading">Add new table</h4>
        <form
            id="new-table-form"
            action="/admin/table"
            method="POST"
            enctype="multipart/form-data"
        >
            <input
                type="text"
                id="ad-table-number"
                name="tablenumber"
                placeholder="table-number"
            />

            <input
                type="text"
                id="ad-table-name"
                name="tablename"
                placeholder="table-name"
            />

            <input
                type="text"
                id="ad-table-person"
                name="tableperson"
                placeholder="table-person"
            />

            <br />
            <label for="ad-table-img">Choose a image for the table:</label>
            <input id="ad-table-img" name="tableimg" type="file" />
            <input type="submit" value="Create New Table" />
        </form>
    </div>

    <div class="table-list">
        <h4 class="admin-heading">List of table:</h4>
        <ul class="field-name">
            <li>Table Name: </li>
            <li>Table Number: </li>
            <li>Maximum Person: </li>
            <li>Table image: </li>
        </ul>
        <ul>
            <% if(typeof tables != 'undefined'){ %> 
                <% tables.forEach((table) => { %>
                    
                    
                        <li><%= table.tablename %></li>
                    
                    <li><%= table.tablenumber %></li>
                    <li><%= table.tableperson %></li>
                    <li><img src="/<%= table.tableimg %>" width="50"></li>
                <% }) %> 
            <% } %>
        </ul>
    </div>
</div>
