<%- include("./partials/header") %>
<div class="table-admin">
    <div class="new-table-form">
        <h2>Add new table</h2>
        <form
            id="new-table-form"
            action="/admin/table"
            method="POST"
            enctype="multipart/form-data"
        >
            <input
                type="text"
                id="ad-table-number"
                name="tablenumber"
                placeholder="table-number"
            />

            <input
                type="text"
                id="ad-table-name"
                name="tablename"
                placeholder="table-name"
            />

            <input
                type="text"
                id="ad-table-person"
                name="tableperson"
                placeholder="table-person"
            />

            <br />
            <label for="ad-table-img">Choose a image for the table:</label>
            <input id="ad-table-img" name="tableimg" type="file" />
            <input type="submit" value="Create New Table" />
        </form>
    </div>

    <div class="table-list">
        <ul>
            <% if(typeof tables != 'undefined'){ %> 
                <% tables.forEach((table) => { %>
                    
                    <%= table.id %>
                        <h2>Table Name: <%= table.tablename %></h2>
                    </a>
                    <h3>Table Number: <%= table.tablenumber %></h3>
                    <p>Maximum Person: <%= table.tableperson %></p>
                    <p>Table image:</p> <img src="/<%= table.tableimg %>" width="200">
                <% }) %> 
            <% } %>
        </ul>
    </div>
</div>
