<%- include("./partials/header") %>
<div class="slider-box">
    <div class="info-box">
        <h3 id="call-now">Call Now</h3>
        <button class="reservation-btn">Make a reservation</button>
        <h3 id="map">Find us on map</h3>
    </div>
    <div class="info-box">
        <div class="discount">
            <div class="dis-text">
                <span id="offer1">60% </span>
                <span id="offer2">OFF </span>
                <span id="offer3">for </span>
                <span id="offer4">tonight</span>
            </div>
            <div class="dis-text">
                <span id="offer5">200 </span>
                <span id="offer6">OFF </span>
                <span id="offer7">on </span>
                <span id="offer8">Family Tables</span>
            </div>
            <div class="dis-text">
                <span id="offer9">Brian </span>
                <span id="offer10">May </span>
                <span id="offer11">Playing </span>
                <span id="offer12">tonight</span>
            </div>
        </div>
    </div>
</div>



<div class="reservation">

    <!--Reservations for front end-->
    <% if(typeof reservations != 'undefined'){ %> 
        <% reservations.forEach((reservation) => { %>
            <p class="reservations-future" style="display: none;"><%= reservation.combination %></p>
        <%}) %>
    <%} %>
    <!--Dates for front end-->
    <% if(typeof reserveddates != 'undefined'){ %> 
        <% reserveddates.forEach((reserveddate) => { %>     
                
            <p class="date-future" style="display: none;"><%= reserveddate.opendate %></p>
                        
        <% }) %> 
    <% } %>
    <!--Hour for front end-->
    <% if(typeof hours != 'undefined'){ %> 
        <% hours.forEach((hour) => { %>
            
            <p class="hour-future" style="display: none;"><%= hour.openhour %></p>
                   
        <% }) %> 
    <% } %>

    <!--table for front end-->
    <% if(typeof tables != 'undefined'){ %> 
        <% tables.forEach((table) => { %>

            <p class="hour-future" style="display: none;"><%= table.tablenumber %></p>
 
        <% }) %> 
    <% } %>
    <!--end codes for front end-->

    <form id="reservation-form" method="POST" action="/reservations">

        
        <select id="reserveddate" name="reserveddate">
            <option selected disabled>Pick A Date:</option>
            <% if(typeof reserveddates != 'undefined'){ %> 
                <% reserveddates.forEach((reserveddate) => { %>
                    <% const reserveddate_array = reserveddate.opendate.split("-") %>
                    <% const year = reserveddate_array[0] %>
                    <% const month = reserveddate_array[1] %>
                    <% const day = reserveddate_array[2] %>
                    <% const dateboolean = (year < d.getFullYear()) || (year == d.getFullYear() && month < (d.getMonth() + 1)) || (year == d.getFullYear() && month == (d.getMonth() +1) && day < d.getDate()) %>
                    <% if (!dateboolean){ %>
                        
                        <option value="<%= reserveddate.id + ' ' + reserveddate.opendate %>"><%= reserveddate.opendate %></option>
                    <% } %> 
                     
                <% }) %> 
            <% } %>

            
        </select>
        <br>
        <!--Hours-->
        
        <% if(typeof hours != 'undefined'){ %> 
            
            <select id="reservedtable" name="reservedhour">
            <option selected disabled>Pick A Hour too:</option>
            <% hours.forEach((hour) => { %>
                
                
                
                <option value="<%= hour.id + ' ' +hour.openhour %>"><%= hour.openhour %></option>
                
                    
                
            <% }) %> 
        </select>
        <br>
        <% } %>

        <!--Table-->

      
        <% if(typeof tables != 'undefined'){ %> 
            <select name="reservedtable" required>
                <option selected disabled >And A Table too:</option>

            <% tables.forEach((table) => { %>

                
                
                <option value="<%= table.id + ' ' +table.tablenumber %>"><%= table.tablenumber %></option>
                
                
            <% }) %> 

        <% } %>
    </select>
    <br>
        


        <input type="text" name="name" placeholder="Name"><br>
        <input type="email" name="email" placeholder="Email" ><br>
        <input type="text" name="phone" placeholder="Phone Number" autofocus><br>
        <input type="submit" value="Submit Resrvation" />
    </form>
</div>
