<%- include("./partials/header") %>
<div class="slider-box">
    <div class="info-box">
        <h3 id="call-now">Call Now</h3>
        <button class="reservation-btn">Make a reservation</button>
        <h3 id="map">Find us on map</h3>
    </div>
    <div class="info-box">
        <div class="discount">
            <div class="dis-text">
                <span id="offer1">60% </span>
                <span id="offer2">OFF </span>
                <span id="offer3">for </span>
                <span id="offer4">tonight</span>
            </div>
            <div class="dis-text">
                <span id="offer5">200 </span>
                <span id="offer6">OFF </span>
                <span id="offer7">on </span>
                <span id="offer8">Family Tables</span>
            </div>
            <div class="dis-text">
                <span id="offer9">Brian </span>
                <span id="offer10">May </span>
                <span id="offer11">Playing </span>
                <span id="offer12">tonight</span>
            </div>
        </div>
    </div>
</div>

<div class="reservation">
    <form id="reservation-form" method="POST" action="/reservations">
        <select name="reserveddate">

            <% if(typeof reserveddates != 'undefined'){ %> 
                <% reserveddates.forEach((reserveddate) => { %>
                    <% const reserveddate_array = reserveddate.opendate.split("-") %>
                    <% const year = reserveddate_array[0] %>
                    <% const month = reserveddate_array[1] %>
                    <% const day = reserveddate_array[2] %>
                    <% const dateboolean = (year < d.getFullYear()) || (year == d.getFullYear() && month < (d.getMonth() + 1)) || (year == d.getFullYear() && month == (d.getMonth() +1) && day < d.getDate()) %>
                    <% if (!dateboolean){ %>
                        
                        <option value="<%= reserveddate.opendate %>"><%= reserveddate.opendate %></option>
                    <% } %>
                     
                <% }) %> 
            <% } %>

            
        </select>

        <!--Hours-->
        <% if(typeof hours != 'undefined'){ %> 
            <% hours.forEach((hour) => { %>
                
                <br>
                <label for="hours-checkbox"><%= hour.openhour %></label>
                <input type="checkbox" value="<%= hour.openhour %>">
                <br>
                    
                
            <% }) %> 
        <% } %>

        <!--Table-->
        <% if(typeof tables != 'undefined'){ %> 
            <% tables.forEach((table) => { %>

                <br>
                <br>
                <label>Table Number: <%= table.tablenumber %></label>
                <input type="checkbox" value="<%= table.tablenumber %>">
                <br>
                <!--
                <%= table.id %>
                    <h2>Table Name: <%= table.tablename %></h2>
                </a>
                <h3>Table Number: <%= table.tablenumber %></h3>
                <p>Maximum Person: <%= table.tableperson %></p>
                <p>Table image:</p> <img src="/<%= table.tableimg %>" width="200">
                -->
            <% }) %> 
        <% } %>

        <input type="text" name="name" value="<%= typeof name != 'undefined' ? name : ''%>">
        <input type="email" name="email" value="<%= typeof email != 'undefined' ? email : ''%>">
        <input type="text" name="phone" value="<%= typeof phone != 'undefined' ? phone : ''%>">
        <input type="submit" value="Submit Resrvation" />
    </form>
</div>
