<%- include("./partials/header") %>
<div id="login">
    <form id="login-form" action="/user/login" method="POST">
        <%- include("./partials/error_messages") %>
        <input
            type="email"
            name="email"
            placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
        />
        <input
            type="password"
            name="password"
            placeholder="Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
        />
        <input type="submit" value="Login" />
        <p class="errors"><a href="/forget-password">Forget Password</a></p>
    </form>
</div>
<%- include("./partials/footer") %>