<%- include("../partials/header") %>
<div class="user-btn">
    <h4 class="admin-heading">FInd users by clicking the butons below</h4>
    <a href="/admin/users/customer"><button>Customers</button></a>
    <a href="/admin/users/employee"><button>Employee</button></a>
    
</div>
    <!--Reservations for front end-->
   <div class="customers">
    <h3 class="admin-heading">Admin's List</h3>
    <ul>
        <li class="admin-list">#:</li>
        <li class="admin-list">Name:</li>
        <li class="admin-list">Phone: </li>
        <li class="admin-list">Email:</li>
        <li class="admin-list">Reservations:</li>
    </ul>
 <% if(typeof users != 'undefined'){ %> 
     <% let counter = 1 %> 
     
     
     <% users.forEach((user) => { %>
         <ul>
         <li class="admin-list"><%= counter %> </li>
         <li class="admin-list"><%= user.name %></li>
         <li class="admin-list"><%= user.phone %></li>
         <li class="admin-list"><%= user.email %></li>
         <li class="admin-list"><form action="/admin/users/customer/reservations" method="POST">
             <input name="email" type="email" hidden value="<%= user.email %>">
             <input type="submit" value="All Reservations">
         </form> </li>
     </ul>
         <% counter += 1 %> 
     <%}) %>
     
 
 <%} %>
</div>