<%- include("../partials/header") %>
<div class="btn">
    <a href="/admin/ongoing"><button class="ongoing-btn">Ongoing</button></a>
    <a href="/admin/pending"><button class="ongoing-btn">Pending</button></a>
    
    <a href="/admin/served"><button class="ongoing-btn">Served</button></a>
    <a href="/admin/cancelled"><button class="ongoing-btn">Cancelled</button></a>
    <a href="/admin/special"><button class="ongoing-btn">Special</button></a>
</div>
<div class="confirmed">
    <% if(typeof reservations != 'undefined'){ %>
        <h2 class="dash-heading">Confirmed Reservations List</h2>
        <% let counter = 1 %>
        <ul class="field-name">
            <li>No:</li>
            <li>Reserved By:</li>
            <li>Phone:</li>
            <li>Email:</li>
            <li>Date:</li>
            <li>Hour:</li>
            <li>Table:</li>
            <li>Status:</li>
            <li>Ongoing</li>
        </ul>
        <% reservations.forEach((reservation) => { %>
            <% if(reservation.status == "confirmed"){ %>
        
            <ul class="res-dash">
                <li><%= counter %></li>
        
               <li class="reservations-future"> <a href="/admin/reservations/<%= reservation.combination %>"><%= reservation.name %></a></li>
                <li class="reservations-future"><%= reservation.phone %></li>
                <li class="reservations-future"><%= reservation.email %></li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[0] %>
                </li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[1] %>
                </li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[2] %>
                </li>
                <li class="reservations-future"><%= reservation.status %></li>
                <li class="reservations-future"><form action="/admin/ongoing" method="POST"><input name="ongoingvalue" class="hide" hidden value="<%= reservation.combination %>" ><input class="confirm-btn" type="submit" value="Ongoing?" style="width: 70px"></form></li>
            </ul>
        
        <% } %>
        <% counter = counter + 1 %> <%}) %> <%} %>
</div>