<%- include("../../partials/header") %>

<div class="ongoing">
    <% if(typeof reservations != 'undefined'){ %>
        <h2 class="dash-heading">Pending Reservations List</h2>
        <% let counter = 1 %>
        <ul class="field-name">
            <li>No:</li>
            <li>Reserved By:</li>
            <li>Phone:</li>
            <li>Email:</li>
            <li>Date:</li>
            <li>Hour:</li>
            <li>Table:</li>
            <li>Status:</li>
            <li>Confirm</li>
        </ul>
        <% reservations.forEach((reservation) => { %>
            <% if(reservation.status == "ongoing"){ %>
        <a href="reservations/<%= reservation.combination %>">
            <ul class="res-dash">
                <li><%= counter %></li>
        
                <li class="reservations-future"><%= reservation.name %></li>
                <li class="reservations-future"><%= reservation.phone %></li>
                <li class="reservations-future"><%= reservation.email %></li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[0] %>
                </li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[1] %>
                </li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[2] %>
                </li>
                <li class="reservations-future"><%= reservation.status %></li>
                <li class="reservations-future"><button>Mark Served</button></li>
            </ul>
        </a>
        <% } %>
        <% counter = counter + 1 %> <%}) %> <%} %>
</div>