<%- include("../partials/header") %>
<div class="btn">
    <a href="/admin/ongoing"><button class="ongoing-btn">Ongoing</button></a>
    <a href="/admin/pending"><button class="ongoing-btn">Pending</button></a>
    <a href="/admin/confirmed"><button class="ongoing-btn">Confirmed</button></a>
    <a href="/admin/served"><button class="ongoing-btn">Served</button></a>
    <a href="/admin/cancelled"><button class="ongoing-btn">Cancelled</button></a>
    <a href="/admin/special"><button class="ongoing-btn">Special</button></a>
</div>
<div class="ongoing">
    <% if(typeof reservations != 'undefined'){ %>
        <h2 class="dash-heading">Pending Reservations List</h2>
        <% let counter = 1 %>
        <ul class="field-name">
            <li>No:</li>
            <li>Reserved By:</li>
            <li>Phone:</li>
            <li>Email:</li>
            <li>Date:</li>
            <li>Hour:</li>
            <li>Table:</li>
            <li>Status:</li>
            <li>Served: </li>
        </ul>
        <% reservations.forEach((reservation) => { %>
            <% if(reservation.status == "ongoing"){ %>
        <a href="reservations/<%= reservation.combination %>">
            <ul class="res-dash">
                <li><%= counter %></li>
        
                <li class="reservations-future"><%= reservation.name %></li>
                <li class="reservations-future"><%= reservation.phone %></li>
                <li class="reservations-future"><%= reservation.email %></li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[0] %>
                </li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[1] %>
                </li>
                <li class="reservations-future">
                    <%= reservation.combination.split(" ")[2] %>
                </li>
                <li class="reservations-future"><%= reservation.status %></li>
                <li class="reservations-future"><form action="/admin/served" method="POST"><input name="servedvalue" class="hide" hidden value="<%= reservation.combination %>" ><input class="confirm-btn" type="submit" value="Mark Served" style="width: 70px"></button></li>
            </ul>
        </a>
        <% } %>
        <% counter = counter + 1 %> <%}) %> <%} %>
</div>